input {
  margin-top: 20px;
  padding: 0.6rem;
  border-radius: 0.6rem;
  width: 15rem;
  height: 3rem;
  font-size: 1.2rem;
}
input:focus {
  background-color: bisque;
}
h1 {
  text-align: center;
  font-size: 3rem;
}